# Build outputs
bin/
obj/
artifacts/
!artifacts/setup-admin.manifest

# IDE
.vs/
.idea/
*.user
*.suo
*.DotSettings.user

# MSIX
BundleArtifacts/
AppPackages/

# Temporary key
*.pfx

# OS
Thumbs.db
Desktop.ini

# Logs
logs/

# Qodana
qodana.yaml
